<!-- SIDEBAR -->
<div class="sidebar h-100" id="sidebar">
  <div class="logo d-flex justify-content-center">
    <div class="logo-collapsed">
      <img src="assets/images/svg/logo-collapsed.svg" class="p-3">
    </div>
    <div class="logo-sidebar">
      <img src="assets/images/svg/Logo-sidebar.svg" class="p-3">
    </div>
  </div>

  <div class="menu">
    <ul class="d-flex flex-column p-0  gap-3 mb-0">

      <li class="cursor-pointer" [routerLink]="''" [ngClass]="{ 'active': isActiveRoute('/') }" id="dashboard">
        <img src="assets/images/svg/Dashboard.svg"><span class="menu-text singleLine">Dashboard</span>
      </li>
      <!-- <li class="cursor-pointer" [routerLink]="'/user'" [ngClass]="{ 'active': isActiveRoute('/user') }"
                id="user"> <img src="assets/images/svg/user.svg"><span class="menu-text singleLine">User</span></li> -->

      <!-- Resident Dropdown -->
      <!-- Parent item -->
      <li class="cursor-pointer dropdown-toggle" (click)="toggleUserMenu()" [class.active]="isUserMenuOpen">
        <img src="assets/images/svg/user.svg">
        <span class="menu-text singleLine">Resident</span>
      </li>

      <!-- Submenu -->
      <ul *ngIf="isUserMenuOpen" class="sub-menu">
        <li [routerLink]="'/user/list'" routerLinkActive="active"><img src="assets/images/svg/user-list-icon.svg"
            alt="user-list-icon" class="white-icon" />Residents List
        </li>
        <li [routerLink]="'/user/delete-user-list'" routerLinkActive="active">
          <img src="assets/images/svg/delete-user-icon.svg" alt="delete-user-icon" class="white-icon" />Deleted
          Residents List
        </li>
        <li [routerLink]="'/user/aadhar-pending-list'" routerLinkActive="active"><img
            src="assets/images/svg/pending-user-icon.svg" alt="pending-user-icon" class="white-icon" />Pending Residents
          List</li>
      </ul>

      <!-- Sarpanch Dropdown -->
      <!-- Parent item -->
      <li class="cursor-pointer dropdown-toggle" (click)="toggleSarpanchMenu()" [class.active]="isSarpanchMenuOpen">
        <img src="assets/images/svg/user.svg">
        <span class="menu-text singleLine">Sarpanch</span>
      </li>

      <!-- Submenu -->
      <ul *ngIf="isSarpanchMenuOpen" class="sub-menu">
        <li [routerLink]="'/sarpanch/list'" routerLinkActive="active"><img src="assets/images/svg/user-list-icon.svg"
            alt="user-list-icon" class="white-icon" />Sarpanch List
        </li>
        <li [routerLink]="'/sarpanch/delete-list'" routerLinkActive="active">
          <img src="assets/images/svg/delete-user-icon.svg" alt="delete-user-icon" class="white-icon" />Deleted Sarpanch
          List
        </li>
        <!-- <li [routerLink]="'/user/aadhar-pending-list'" routerLinkActive="active"><img
                        src="assets/images/svg/pending-user-icon.svg" alt="pending-user-icon"
                        class="white-icon" />Pending Users List</li> -->
      </ul>

      <!-- <li class="cursor-pointer" [routerLink]="'/announcements/list'" [ngClass]="{ 'active': isActiveRoute('/announcements') }"
                id="customer"><img src="assets/images/svg/Service.svg"><span
                    class="menu-text singleLine">Announcements</span>
            </li> -->

      <!-- Announcements Dropdown -->
      <!-- Parent item -->
      <li class="cursor-pointer dropdown-toggle" (click)="toggleAnnouncementMenu()"
        [class.active]="isAnnouncementMenuOpen">
        <img src="assets/images/svg/Service.svg">
        <span class="menu-text singleLine">Announcements</span>
      </li>

      <!-- Submenu -->
      <ul *ngIf="isAnnouncementMenuOpen" class="sub-menu">
        <li [routerLink]="'/announcements/list'" routerLinkActive="active"><img
            src="assets/images/svg/user-list-icon.svg" alt="user-list-icon" class="white-icon" />Announcements List
        </li>
        <li [routerLink]="'/announcements/delete'" routerLinkActive="active" *ngIf="role==='ADMIN'">
          <img src="assets/images/svg/delete-user-icon.svg" alt="delete-user-icon" class="white-icon" />Deleted
          Announcements
          List
        </li>
        <!-- <li [routerLink]="'/user/aadhar-pending-list'" routerLinkActive="active"><img
                          src="assets/images/svg/pending-user-icon.svg" alt="pending-user-icon"
                          class="white-icon" />Pending Users List</li> -->
      </ul>

      <!-- <li class="cursor-pointer" [routerLink]="'/managerole'"
                [ngClass]="{ 'active': isActiveRoute('/managerole') }" id="managerole"><img
                    src="assets/images/svg/Manage Role.svg"><span class="menu-text singleLine">My
                        Grievances</span></li> -->
      <li class="cursor-pointer" [routerLink]="'/serviceCategory'"
        [ngClass]="{ 'active': isActiveRoute('/serviceCategory') }" id="serviceCategory"><img
          src="assets/images/svg/Service.svg"><span class="menu-text singleLine">Community Projects</span>
      </li>


      <!-- grievance Dropdown -->
      <!-- Parent item -->
      <li class="cursor-pointer dropdown-toggle" (click)="toggleGrievanceMenu()" [class.active]="isGrievanceMenuOpen">
        <img src="assets/images/svg/Service.svg">
        <span class="menu-text singleLine">Grievances</span>
      </li>

      <!-- Submenu -->
      <ul *ngIf="isGrievanceMenuOpen" class="sub-menu">
        <li [routerLink]="'grievance/grievance-list'" routerLinkActive="active"><img
            src="assets/images/svg/user-list-icon.svg" alt="user-list-icon" class="white-icon" />Grievance List
        </li>
        <li [routerLink]="'grievance/grievance-delete'" routerLinkActive="active" *ngIf="role==='ADMIN'">
          <img src="assets/images/svg/delete-user-icon.svg" alt="delete-user-icon" class="white-icon" />Deleted
          Grievance
        </li>
        <!-- <li [routerLink]="'/user/aadhar-pending-list'" routerLinkActive="active"><img
                          src="assets/images/svg/pending-user-icon.svg" alt="pending-user-icon"
                          class="white-icon" />Pending Users List</li> -->
      </ul>

      <!-- Submenu -->
      <!-- <ul *ngIf="isGrievanceMenuOpen" class="sub-menu">
        <li [routerLink]="'/grievance/grievance-list'" routerLinkActive="active"><img
            src="assets/images/svg/user-list-icon.svg" alt="user-list-icon" class="white-icon" />Grievance List
        </li>
        <li [routerLink]="'/grievance/delete'" routerLinkActive="active">
          <img src="assets/images/svg/delete-user-icon.svg" alt="delete-user-icon" class="white-icon" />Deleted
          Grievance
          List
        </li> -->
      <!-- <li [routerLink]="'/user/aadhar-pending-list'" routerLinkActive="active"><img
                          src="assets/images/svg/pending-user-icon.svg" alt="pending-user-icon"
                          class="white-icon" />Pending Users List</li> -->
      <!-- </ul> -->


    </ul>
  </div>
</div>