<div class="d-flex flex-column gap-3 h-100" (click)="closeFilterIfClickedOutside($event)">
  <!-- Search & Filter -->
  <div class="d-flex justify-content-between align-items-start flex-wrap mb-3 gap-3 position-relative">
    <!-- Left: Search + Filter -->
    <div class="d-flex flex-wrap gap-2 align-items-center">
      <!-- Search -->
      <div class="input-group" style="width: 280px;">
        <input type="text" class="form-control" placeholder="Search by name, phone, or address"
          [(ngModel)]="searchTerm">
        <button class="btn btn-outline-secondary" type="button" (click)="onSearchEvent()">
          <img src="assets/images/svg/search.svg" height="12" width="12">
        </button>
      </div>

      <!-- Filter Button -->
      <div class="dropdown" [class.show]="showFilters">
        <button class="btn btn-outline-dark d-flex align-items-center gap-1 dropdown-toggle" (click)="toggleFilter()"
          type="button">
          <strong>Filter</strong>
        </button>

        <!-- Dropdown-style Filter Panel -->
        <div class="dropdown-menu p-3 shadow" style="min-width: 300px;" [class.show]="showFilters">
          <!-- Status -->

          <div class="mb-2" *ngIf="filters.date">
            <label>From Date</label>
            <input type="date" class="form-control" [(ngModel)]="filters.date.from" (change)="onFilter()" />
          </div>

          <div class="mb-2" *ngIf="filters.date">
            <label>To Date</label>
            <input type="date" class="form-control" [(ngModel)]="filters.date.to" (change)="onFilter()" />
          </div>


          <!-- isActive -->
          <div>
            <label>isActive</label>
            <select class="form-select" [(ngModel)]="filters.isActive" (change)="onFilter()">
              <option [value]="true">TRUE</option>
              <option [value]="false">FALSE</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- Right: Add User -->

    <div *ngIf="role==='SARPANCH'">
      <button class="primary-button p-8-12 d-flex align-items-center gap-2"
        [routerLink]="'/local-Events/local-Events-add'">
        <div class="plus_icon">
          <img src="assets/images/svg/plus-icon.svg" height="12" width="12">
        </div>
        Add Event
      </button>
    </div>
  </div>


  <!-- ⏳ Loader (Bonus Tip) -->
  <div *ngIf="isLoading" class="text-center">
    <p>Loading...</p>
  </div>


  <app-dynamic-table *ngIf="!isLoading && agencyTableConfig.data.length > 0" [config]="agencyTableConfig"
    (actionClicked)="onActionClicked($event)">
  </app-dynamic-table>


  <!-- (actionClicked)="onAction($event.action, $event.element)" -->

  <!-- ❌ No Data Message -->
  <p *ngIf="!isLoading && agencyTableConfig.data.length === 0" class="text-center mt-3 text-danger">
    No Data Found
  </p>
</div>