<div class="d-flex flex-column align-items-center justify-content-center gap-4 h-100 p-4 mx-auto"
  style="max-width: 420px;">
  <img src="assets/images/svg/logo.svg" alt="logo" style="height: 18%;" />

  <div class="d-flex flex-column gap-2 align-items-center text-center mt-4">
    <h2 class="mb-0 font-22 semibold textColor">Forgot Password</h2>
    <h3 class="mb-0 font-16 medium subTextColor">Please enter your Mobile to forgot your password.</h3>
  </div>


  <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOtp()">
    <div class="d-flex flex-column gap-1 w-100">
      <h4 class="mb-0 font-14 regular subTextColor">Mobile Number</h4>
      <input type="text" class="input-field" placeholder="Enter Registered Mobile Number" formControlName="mobileNumber"
        maxlength="10" />

      <!-- Validation Errors -->
      <p class="text-danger mb-0" *ngIf="mobileNumber?.invalid && mobileNumber?.touched">
        {{ getMobileNumberError() }}
      </p>
    </div>

    <button type="submit" class="primary-button w-100" [disabled]="forgotPasswordForm.invalid">
      Send OTP
    </button>
  </form>
</div>