<div class="scalable-gap-24-16 scalable-p-16-8 cardBackground d-flex flex-column">
    <!-- Back Arrow -->
    <div class="d-flex gap-2 align-items-center">
        <img src="assets/images/svg/Back-Icon.svg" class="cursor-pointer" height="30" width="30" />
        <h2 class="font-18 medium black mb-0">Apply</h2>
    </div>

    <!-- Form Inputs -->
    <div class="row g-4">
        <!-- Name -->
        <div class="col-md-6">
            <div class="d-flex flex-column gap-1 w-100">
                <h4 class="mb-0 font-14 regular subTextColor">Name</h4>
                <input type="text" class="input-field" placeholder="Enter Name" />
            </div>
        </div>
        <!-- Email -->
        <div class="col-md-6">
            <div class="d-flex flex-column gap-1 w-100">
                <h4 class="mb-0 font-14 regular subTextColor">Email</h4>
                <input type="text" class="input-field" placeholder="Enter Email" />
            </div>
        </div>
        <!-- Phone Number -->
        <div class="col-md-6">
            <div class="d-flex flex-column gap-1 w-100">
                <h4 class="mb-0 font-14 regular subTextColor">Phone no.</h4>
                <input type="text" class="input-field" placeholder="Enter phone no." />
            </div>
        </div>
        <!-- select Role -->
        <div class="col-md-6">
            <div class="d-flex flex-column gap-1 w-100">
                <h4 class="mb-0 font-14 regular subTextColor">Address</h4>
                <input type="text" class="input-field" placeholder="Enter address" />
            </div>

        </div>

    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end gap-4">
        <button type="button" class="secondary-button py-2 scalable-p-48-24">Cancel</button>
        <button type="button" class="primary-button py-2 scalable-p-48-24">Save</button>
    </div>

</div>
