<div class="d-flex flex-column align-items-center justify-content-center gap-4 h-100 p-4 mx-auto"
    style="max-width: 420px;">
    <img src="assets/images/svg/logo.svg" alt="logo" style="height: 18%;" />

    <div class="d-flex flex-column gap-2 align-items-center text-center mt-4">
        <h2 class="mb-0 font-22 semibold textColor">Create New Password</h2>
        <h3 class="mb-0 font-16 medium subTextColor">Please enter your password.</h3>
    </div>

    <!-- Form starts here -->
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()"
        class="d-flex flex-column gap-3 align-items-center w-100">
        <div class="d-flex flex-column gap-1 w-100">
            <h4 class="mb-0 font-14 regular subTextColor">New Password</h4>
            <input type="password" class="input-field" placeholder="New Password"
                formControlName="newPassword" autocomplete="new-password" />
            <small class="error"
                *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid">
                Password must be at least 8 characters long, contain one uppercase letter, one lowercase letter, one
                digit, and one special character.
            </small>
        </div>

        <div class="d-flex flex-column gap-1 w-100">
            <h4 class="mb-0 font-14 regular subTextColor">Confirm Password</h4>
            <input type="password" class="input-field" placeholder="Confirm Password"
                formControlName="confirmPassword" autocomplete="new-password" />
            <small class="error"
                *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid">
                Passwords do not match.
            </small>
        </div>

        <button class="primary-button w-100" type="submit" [disabled]="passwordForm.invalid">Set Password</button>
    </form>
</div>
