<!-- profile Image -->
<div class="position-relative d-inline-block">
    <img src="assets/images/png/profile-background.png" alt="profile-background"
        class="img-fluid w-100 profileEdit-img">
    <!-- Profile Image (Dropdown Toggle) -->
    <img [src]="userService.profileImage() || 'assets/images/svg/profile.svg'" alt="profile"
        class="choose-File object-fit-cover rounded-circle img-fluid dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false" style="cursor: pointer;" />
    <!-- Dropdown Menu -->
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item d-flex align-items-center gap-2" style="cursor: pointer;" (click)="openImage()">
                <i class="fa fa-eye"></i> Open Image
            </a>
        </li>
        <li *ngIf="!isViewOnly">
            <label class="dropdown-item d-flex align-items-center gap-2" style="cursor: pointer;">
                <i class="fa fa-upload"></i> Change Profile Image
                <input type="file" id="file-input" accept="image/*" hidden (change)="onFileSelected($event)"
                    [readonly]="isViewOnly" />
            </label>
        </li>
    </ul>
</div>

<div class="profile-container d-flex flex-column">
    <!-- profile Details -->
    <div class="d-flex flex-column gap-2">
        <h3>
            {{ data.name | gender: data.gender }}
            <span class="role-label">RESIDENT</span>
        </h3>
        <!-- <h4 class="font-14 regular black mb-0">{{ resident.phone }}</h4> -->
    </div>

    <!-- Tabs -->
    <ul class="nav nav-pills scalable-gap-24-16" id="pills-tab" role="tablist" *ngIf="!isViewOnly">
        <li class="nav-item" role="presentation">
            <button class="active profile-tabs font-14 medium" id="pills-EditProfile-tab" data-bs-toggle="pill"
                data-bs-target="#pills-EditProfile" type="button" role="tab" aria-controls="pills-EditProfile"
                aria-selected="true">Edit Profile</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="!isViewOnly">
            <button class="profile-tabs font-14 medium" id="pills-ChangePassword-tab" data-bs-toggle="pill"
                data-bs-target="#pills-ChangePassword" type="button" role="tab" aria-controls="pills-ChangePassword"
                aria-selected="false">Change Password</button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="!isViewOnly">
            <button class="profile-tabs font-14 medium" id="pills-privacySetting-tab" data-bs-toggle="pill"
                data-bs-target="#pills-privacySetting" type="button" role="tab" aria-controls="pills-privacySetting"
                aria-selected="false">Privacy Setting</button>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="pills-tabContent">

        <!-- Edit Profile -->
        <div class="tab-pane fade show active" id="pills-EditProfile" role="tabpanel" tabindex="0">
            <!-- Edit Profile Tab Content -->
            <form [formGroup]="profileForm" class="d-flex flex-column scalable-gap-24-16 mt-3">
                <!-- Name -->
                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Name</h4>
                    <input type="text" class="input-field" placeholder="Enter Name" formControlName="name"
                        [disabled]="!isViewOnly" />
                    <p class="text-danger font-12 mt-1"
                        *ngIf="profileForm.get('name')?.touched && profileForm.get('name')?.invalid">
                        Name is required and must be at least 3 characters.
                    </p>
                </div>

                <!-- Email -->
                <div class="d-flex flex-column gap-1 w-100" *ngIf="!isViewOnly || profileForm.get('email')?.value">
                    <h4 class="mb-0 font-14 regular subTextColor">Email</h4>
                    <input type="text" class="input-field" placeholder="Enter Email" formControlName="email"
                        [disabled]="isViewOnly" />
                    <p class="text-danger font-12 mt-1"
                        *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.hasError('email')">
                        Enter a valid email address.
                    </p>

                </div>

                <!-- Phone -->
                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Mobile no.</h4>
                    <input type="text" class="input-field" placeholder="Enter phone no." formControlName="phone"
                        [disabled]="isViewOnly" readonly />
                </div>

                <!-- Age -->
                <div class="d-flex flex-column gap-1 w-100" *ngIf="!isViewOnly || profileForm.get('age')?.value">
                    <h4 class="mb-0 font-14 regular subTextColor">Age</h4>
                    <input type="number" class="input-field" placeholder="Enter Age" formControlName="age"
                        [disabled]="isViewOnly" />
                    <p class="text-danger font-12 mt-1"
                        *ngIf="profileForm.get('age')?.touched && profileForm.get('age')?.invalid">
                        Age must be between 1 and 120.
                    </p>

                </div>

                <!-- Gender -->
                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Gender</h4>
                    <select class="input-field" formControlName="gender" [disabled]="isViewOnly">
                        <option value="" disabled>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <p class="text-danger font-12 mt-1"
                        *ngIf="profileForm.get('gender')?.touched && profileForm.get('gender')?.hasError('required')">
                        Gender is required.
                    </p>

                </div>

                <!-- Aadhar Number -->
                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Aadhar Number</h4>
                    <input type="text" class="input-field" placeholder="Enter Aadhar Number"
                        formControlName="aadharNumber" [disabled]="isViewOnly" readonly />
                </div>

                <!-- House Number -->
                <div class="d-flex flex-column gap-1 w-100"
                    *ngIf="!isViewOnly || profileForm.get('houseNumber')?.value">
                    <h4 class="mb-0 font-14 regular subTextColor">House Number</h4>
                    <input type="text" class="input-field" placeholder="Enter House Number"
                        formControlName="houseNumber" [disabled]="isViewOnly" />
                </div>

                <!-- Address Dropdown -->
                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Address</h4>
                    <select class="input-field" formControlName="addressId" [disabled]="isViewOnly">
                        <option value="" disabled>Select Address</option>
                        <option *ngFor="let address of addresses" [value]="address.id">
                            {{ address.formattedAddress }}
                        </option>
                    </select>
                    <p class="text-danger font-12 mt-1"
                        *ngIf="profileForm.get('addressId')?.touched && profileForm.get('addressId')?.hasError('required')">
                        Address is required.
                    </p>
                </div>

                <!-- Created At -->
                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Create Date</h4>
                    <input type="text" class="input-field"
                        [value]="profileForm.get('createdAt')?.value | date:'dd MMM yyyy, h:mm a'"
                        [disabled]="isViewOnly" readonly />
                </div>

                <!-- Updated At -->
                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Last Updated Date</h4>
                    <input type="text" class="input-field"
                        [value]="profileForm.get('updatedAt')?.value | date:'dd MMM yyyy, h:mm a'"
                        [disabled]="isViewOnly" readonly />
                </div>

                <!-- Buttons -->
                <div class="d-flex justify-content-end align-items-center mt-4" *ngIf="!isViewOnly">
                    <!-- <button type="button" class="secondary-button py-2 scalable-p-48-24"
                        (click)="cancelEdit('name')">Cancel</button> -->
                    <button type="button" class="primary-button py-2 scalable-p-48-24 ms-3"
                        [disabled]="profileForm.invalid" (click)="onSubmit()">Update</button>
                </div>
            </form>

        </div>

        <!-- Change Password -->
        <div class="tab-pane fade" id="pills-ChangePassword" role="tabpanel" tabindex="0">
            <form [formGroup]="passwordForm" class="d-flex flex-column scalable-gap-24-16 mt-3">
                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Old Password</h4>
                    <input type="password" class="input-field" formControlName="oldPassword"
                        placeholder="Enter Old Password" />
                    <p class="text-danger font-12 mt-1"
                        *ngIf="passwordForm.get('oldPassword')?.touched && passwordForm.get('oldPassword')?.invalid">
                        Old password is required.
                    </p>
                </div>

                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">New Password</h4>
                    <input type="password" class="input-field" formControlName="newPassword"
                        placeholder="Enter New Password" />
                    <p class="text-danger font-12 mt-1"
                        *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.hasError('pattern')">
                        Password must be 8+ characters, include uppercase, lowercase, number, and special character.
                    </p>
                    <p class="text-danger font-12 mt-1"
                        *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.hasError('sameAsOld')">
                        New password should not be same as old password.
                    </p>

                </div>

                <div class="d-flex flex-column gap-1 w-100">
                    <h4 class="mb-0 font-14 regular subTextColor">Confirm Password</h4>
                    <input type="password" class="input-field" formControlName="confirmPassword"
                        placeholder="Confirm Password" />
                    <p class="text-danger font-12 mt-1"
                        *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.hasError('mismatch')">
                        Passwords do not match.
                    </p>
                </div>

                <!-- Buttons -->
                <div class="d-flex justify-content-end align-items-center mt-4" *ngIf="!isViewOnly">
                    <!-- <button type="button" class="secondary-button py-2 scalable-p-48-24"
                        (click)="cancelEdit('password')">Cancel</button> -->
                    <button type="button" class="primary-button py-2 scalable-p-48-24 ms-3"
                        [disabled]="passwordForm.invalid" (click)="updatePassword()">Update</button>
                </div>
            </form>
        </div>

        <!-- Privacy Settings Section -->
        <div class="tab-pane fade" id="pills-privacySetting" role="tabpanel" tabindex="0">
            <div class="privacy-settings-section">
                <h3>Privacy Settings</h3>

                <!-- Account status text with icon -->
                <label for="privacy-toggle" class="d-flex align-items-center gap-2 mb-3">
                    <span class="font-14 regular subTextColor">Account is</span>
                    <span [ngClass]="{'text-primary': isPublic, 'text-muted': !isPublic}" class="fw-semibold">
                        <i class="bi" [ngClass]="isPublic ? 'bi-unlock' : 'bi-lock'"></i>
                        {{ isPublic ? 'Public' : 'Private' }}
                    </span>
                </label>

                <!-- Toggle switch -->
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="privacy-toggle" [checked]="isPublic"
                        (change)="onPrivacyToggle()" role="switch" />
                    <label class="form-check-label fw-medium" for="privacy-toggle">
                        Toggle Privacy
                    </label>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- Image Preview Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Profile Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0">
                <img [src]="selectedImage || 'assets/images/svg/default-image.svg'" alt="Preview"
                    class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>
</div>