<div class="not-found-container">
    <div class="back-img">
        <div class="container h-100">
            <div class="d-flex flex-column justify-content-center align-items-center scalable-gap-100-40 h-100">
                <img src="assets/images/png/404-img.png" alt="404" class="img-fluid" />
           
            <div class="d-flex flex-column justify-content-center align-items-center-gap-32-16">
                <h3 class="text-white font-24 semibold mb-0">Page Not found</h3>
                <button type="button" class="primary-button scalable-p-20-12 scalable-p-48-24">Back To Home</button>
            </div>
        </div>
        </div>
    </div>
   
</div>     